app = "ai-asistant-mest-techstudio"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
